<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521452060607-4a33cd6q3qhvhmdebbbqh74pc5qq9sge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521452060607-4a33cd6q3qhvhmdebbbqh74pc5qq9sge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521452060607-p8abgf34c2lb21vc4rig8apgi43q3qmg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJY2nwFqxzrB8Mdw7Tli7kGtfgfDq_xzI</string>
	<key>GCM_SENDER_ID</key>
	<string>521452060607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>todo-list-d2467</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-d2467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521452060607:ios:01d50ff84ef1cfaba9eb0a</string>
</dict>
</plist>